extends layout

block mainNav
  a(href='tw_01.html')
    img(src='images/sj.gif', width='375', height='350', border='0')

block mainContent
  img(src='images/tw_00.jpg', width='650', height='575', border='0')


block footer
  h2
    | Infinity Bracelet
    br
    | Wrist Wear With Interior Hand Cut Infinity Forms, Handmade Secure Clasp & Hinge, 18 K Yellow Gold
