doctype 5
html
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title terry ware :: selected jewelry
    link(href='styles/tw.css', rel='stylesheet', type='text/css')
    meta(name='Keywords', content='Terry Ware, Terry Ware jewelry design, Terry Ware handmade jewelry, Terry Ware jewelry, Terry Ware design, jewelry design, handmade jewelry, handmade chain, hand engraved, hand engraved, hand carved, selected jewelry, bench made, jewels, topaz, diamonds, agate, moss agate, coral, pearls, chrysoprase, chalcedony, quartz, citrine, turquoise, 18 KWG, 18 KYG, 22 KYG, 18 KT, 22 KT, 18K, 22K, platinum, white gold, yellow gold, rose gold, silver, sterling silver, oxidized sterling, oxidized silver, engraving, filigree, chain, bracelet, wrist wear, earrings, neck piece, necklace, ring, brooch, pin, cuff links, buckle, Infinity Bracelet, iris, Nick Cave artist ')
    meta(name='Description', content='Terry Ware - selected jewelry, rings, bracelets, cuff links, gold and silver')
  body
    #wrapper
      #header
        a(href='index.html')
          img(src='images/tw_header.gif', width='374', height='225', border='0')
      #mainNav
        block mainNav
      #mainContent
        block mainContent
      #footer
        block footer
          img(src='images/twfooter.gif', width='1024', height='100')
