if (thisNumber > 1)
  a(href=prefix + Formatter.pad(thisNumber-1, padding) + '.html')<   
|    #{thisNumber}  
span.italOf of 
|   #{maxNumber}   
if (thisNumber < maxNumber)
  a(href=prefix + Formatter.pad(thisNumber+1, padding) + '.html')    >
